<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Visitor</title>
</head>
<body>

    <div class="container mt-5 mx-auto">
        <h1>welcome <%= foundUser.firstName %> <%= foundUser.lastName %></h1>

        <img src="<%= src %>"> <br>

        <ul>
            <li>date of bitrh: <%= dob %></li>
            <li>email: <%= foundUser.email %></li>
            <li>telephone: <%= foundUser.telephonNumber %></li>
            <li>attended: <%= foundUser.attended %></li>
            <li>updated At : <%= foundUser.updated %></li>
        </ul>

        <button class="btn btn-outline-primary "><a href="/">go back</a></button>
    </div>


</body>
</html>